.forgotPassword {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    max-height: 80vh;
    padding: 20px;
    border: 2px solid cadetblue;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    margin: 8%;
    background-image: url('https://img.stablecog.com/insecure/1920w/aHR0cHM6Ly9iLnN0YWJsZWNvZy5jb20vMTI0YmMzOTUtN2UyMC00YWVmLTkyNTMtNTFiNTQ5YzU2M2NjLmpwZWc.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.forgotPassword form {
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0);
    padding: 20px;
    border-radius: 15px;
}

.forgotPassword form div {
    margin-bottom: 15px;
    position: relative;
}

.forgotPassword form label {
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
}

.forgotPassword form input {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.forgotPassword form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgb(201, 201, 209);
    color: rgb(0, 0, 0);
    font-size: 16px;
    cursor: pointer;
}

.error-message {
    color: red;
    margin-top: 10px;
}

.success-message {
    color: green;
    margin-top: 10px;
}
